:host {
  display: block;
}

.app-content {
  padding: 16px;
  max-width: 800px;

  & > *:first-child {
    margin-top: 0;
  }

  p {
    display: flex;
    align-items: stretch;
    button {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
}
