<sdw-form [sdwFormGroup]="formGroup">
  <sdw-form-input-element name="inputText"
                          type="text"
                          label="Some Text Label"
                          placeholder="Some Input Placeholder"
                          [validatorOrOpts]="requiredValidator"
  >
  </sdw-form-input-element>

  <sdw-form-input-element name="inputEmail"
                          type="email"
                          label="Email adress"
                          placeholder="some.mail@gmail.com"
  >
  </sdw-form-input-element>

  <sdw-form-input-element name="inputNumber"
                          type="number"
                          label="Some Number Label"
                          placeholder="Some Input Number Placeholder"
  >
  </sdw-form-input-element>

  <sdw-form-checkbox name="inputCheckbox"
                     labelPosition="after"
  >
    Checkbox Text
  </sdw-form-checkbox>

  <sdw-form-select name="inputSelect"
                   label="Choose an option"
                   [options]="selectOptions"
  >
    <ng-template sdwFormSelectTemplate let-option>
      <span>{{option.label}}</span>

      <span>Template Text</span>
    </ng-template>
  </sdw-form-select>

  <sdw-form-radio name="inputRadio"
                  [options]="[{label: 'Label 1', value: 0}, {label: 'Label 2', value: 1}]"
  >
    <ng-template sdwFormRadioTemplate let-option>
      <{{option.label}}>
    </ng-template>
  </sdw-form-radio>

  <sdw-form-datepicker name="inputMatDatepicker"
                       placeholder="Some Datepicker Placeholder"
                       label="Some Datepicker Label"
  >
<!--    <ng-template sdwFormDatepicketButtonTemplate>-->
<!--      A-->
<!--    </ng-template>-->
  </sdw-form-datepicker>

  <sdw-form-date-time-picker name="inputDateOnly"
                             [showTime]="false"
                             placeholder="Some Date Placeholder"
                             label="Some Date Label"
  >
  </sdw-form-date-time-picker>

  <sdw-form-date-time-picker name="inputTimeOnly"
                             [showDate]="false"
                             label="Some Time Label"
                             placeholder="Some Time Placeholder">
  </sdw-form-date-time-picker>

  <sdw-form-date-time-picker name="inputDateTime"
                             label="Some Date + Time Label"
                             placeholder="Some Date + Time Placeholder"
                             highlightBgColor="rgba(0,0,0,0.05)">
  </sdw-form-date-time-picker>

  <sdw-form-textarea-element name="inputTextarea"
                             placeholder="Some Textarea Placeholder"
                             [autosize]="true"
                             [minRows]="5"
                             label="Some Textarea Label">

  </sdw-form-textarea-element>
</sdw-form>

<div class="form-result">
  {{formResult | json}}
</div>
