<sdw-form sdwDynGridContainer [cols]="['300px', '1fr']">
  <sdw-form-input-element [name]="'input1'" [placeholder]="'Placeholder 1'"
                          sdwDynGridChild
  ></sdw-form-input-element>

  <sdw-form-input-element [name]="'input2'" [placeholder]="'Placeholder 3'"
                          sdwDynGridChild
  ></sdw-form-input-element>

  <sdw-form-input-element [name]="'input3'" [placeholder]="'Placeholder 3'"
                          sdwDynGridChild
  ></sdw-form-input-element>
</sdw-form>
