<sdw-form [sdwFormGroup]="formGroup">
  <sdw-form-input-element [name]="name"
                          [type]="'number'"
                          [label]="label"
                          [placeholder]="placeholder"
                          [validatorOrOpts]="requiredValidator"
  >
  </sdw-form-input-element>

<!--  <sdw-form-element sdwFormInput-->
<!--                    [name]="name + '2'"-->
<!--                    [type]="'text'"-->
<!--                    [label]="label"-->
<!--                    [placeholder]="placeholder"-->
<!--  ></sdw-form-element>-->
</sdw-form>

<button (click)="editPlaceholder()">{{placeholder}}</button>
<button (click)="editLabel()">Edit Label. Current: '{{label}}'</button>
<button (click)="removeValidator()">Remove validator</button>
<button (click)="changeGroup()">Change FB Group</button>
<button (click)="setValue()">SET VALUE</button>

<div class="form-result">
  {{formResult | json}}
</div>
